      <h3>Here's what drugs are selling for:</h3>
      <hr>
      <ul class="list-unstyled">
        <% @drugs.each do |drug| %>
          <li><%= drug.name %> @ $<%= drug.price %></li>
        <% end %>
