<div class="container">
  <div class="row dashboard">

    <div id="stats" class="dashboard">
      <h3>Stats</h3>
      <h4>Cash</h4>
      <h4>Guns</h4>
      <h4>Health</h4>
      <h4>Bank</h4>
    </div>

    <div id="drugs" class="dashboard">
      <h3>Drugs</h3>
    </div>
  </div>

  <div class="row">
    <div id="game" class="dashboard">
      <h3>Game</h3>
    </div>
  </div>
</div>






<% if false %>
<div class="container flexbox">
  <div class="row text-center flexbox">
    <h1 class="font-war big-font" style="font-size: 100px"></h1>
    <!-- <h4 class="font-war">A WAR IS COMING...</h4> -->
  </div>
</div>


<script>
  $(function(){
      $(".font-war").typed({
        strings: ["Welcome to Drug Wars", "A WAR IS COMING."],
        typeSpeed: 80,
        backSpeed: 0,
      });
  });
</script>
<% end %>
