<div class="container flexbox">
  <div class="row text-center flexbox">
    <h1 class="font-war big-font" style="font-size: 100px"></h1>
    <!-- <h4 class="font-war">A WAR IS COMING...</h4> -->
  </div>
</div>

<script>
  $(function(){
      $(".font-war").typed({
        strings: ["Welcome to Drug Wars", "A WAR IS COMING."],
        typeSpeed: 0
      });
  });
</script>
