@font-face {
  font-family: 'Casio';
  src:font-url('casio.eot');
  src:font-url('casio.eot?#iefix') format('embedded-opentype'),
      font-url('casio.svg#casio') format('svg'),
      font-url('casio.woff') format('woff'),
      font-url('casio.ttf') format('truetype');
}

@font-face {
  font-family: 'Ti';
  src:font-url('ti.eot');
  src:font-url('ti.eot?#iefix') format('embedded-opentype'),
      font-url('ti.svg#ti') format('svg'),
      font-url('ti.woff') format('woff'),
      font-url('ti.ttf') format('truetype');
}
