// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.font-casio {
  font-family: "Casio";
}

.font-ti {
  font-family: "ti";
}

html, body {
  font-family: "Ti";
}
