// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flexbox {
}

.font-war {
  font-family: 'VT323', !important;
}

.big-font {
  font-size: 40px, !important;
}

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 2s infinite;
  -moz-animation: blink 2s infinite;
  animation: blink 2s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
